<!DOCTYPE html>
<html>
<head>
    <title>Instituto Continental | Sorteos</title>
     <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" >  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js" 
            integrity="sha512-BrvVYNhKh6yST24E5DY/LopLO5d+8KYmIXyrpBIJ2PK+CyyJw/cLSG/BfJomWLC1IblNrmiJWGlrGueKLd/Ekw==" 
            crossorigin="anonymous"></script>  
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <a href="/" class="navbar-brand">
    <img src="https://rayrojas-cache.s3-us-west-2.amazonaws.com/prize/static/ic-logo.png" />
  </a>
<!--   <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
</nav>
<section class="container">
  <div class="row justify-content-center ">
    <div class="col-sm-12 col-lg-6">
       <%-body -%>
    </div>
  </div>
</section>
<footer>
    
</footer>
  <script src="/javascripts/winner.js"></script>
</body>
</html>