<% layout('/layout/page') -%>
  <div class="row">
    <div class="col-12">  
      
      <h1 class="text-center">
        Oops! 
      </h1>
      <h2 class="text-center">
        La página que buscabas no se encuentra disponible en estos momentos.
      </h2>
      <h5 class="text-center">
        <a href="/">Click para volver al inicio.</a>
      </h5>      
    </div>
  </div>
