<% layout('/layout/page') -%>

   <div class="row">
    <div class="col-12">  
      <div class="card mt-4">
        <h3 class="text-center card-header">Sorteo en curso.</h3>
        <div class="card-body">
          <h2 class="text-center">
            Colegio: <%= prize.school %>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">  
      
      <div class="card mt-4">
        <h3 class="text-center card-header">Registro de Estudiantes</h3>
        <div class="card-body">
          <form method="POST" action="/students/sign_up">
            <input type="hidden" name="prizeId" value="<%= prize.id %>" >
            <div class="form-group">
              <label>Nombres:</label>
              <input required class="form-control" 
                type="text" name="firstName"  maxlength="250" >
            </div>
            <div class="form-group">
              <label>Apellidos:</label>
              <input required class="form-control" 
                type="text" name="lastName"  maxlength="250" >
            </div>
            <div class="form-group">
              <label>Teléfono móvil:</label>
              <input required class="form-control" 
                type="text" name="phone" maxlength="9" minlength="9" >
            </div>
            <div class="form-group">
              <label>Grado:</label>
              <select required name="level" class="form-control">
                <option value="5">Quinto</option>
                <option value="4">Cuarto</option>
                <option value="3">Tercero</option>
                <option value="2">Segundo</option>
                <option value="1">Primero</option>
              </select>
            </div>
            <div class="form-group">
              <label>Carrera:</label>
              <select required  name="carrierId" class="form-control">
                <% carriers.forEach(function(carrier){ %>
                  <option value="<%= carrier.id %>"><%= carrier.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">
                Restristrarse para el Sorteo
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
