<% layout('/layout/page') -%>
  <div class="row">
    <div class="col-12">  
      
      <h1 class="text-center">
        Oops!
      </h1>
      <h2 class="text-center">
        Algo acaba de salir mal.
      </h2>
      <h2 class="text-center">
        Por favor refresca el navegador y vuelve a intentarlo.
      </h2>
    </div>
  </div>
