<% layout('/layout/page') -%>
<div class="container mt-2">
  <div class="row">
    <div class="col-sm-2">
       
    </div>    
    <div class="col-sm-8">  
      
      <h1 class="text-center">
        Oops!
      </h1>
      <h2 class="text-center">
        Algo acaba de salir mal.
      </h2>
      <h2 class="text-center">
        Por favor refresca el navegador y vuelve a intentarlo.
      </h2>
    </div>
  </div>
</div>
