<% layout('/layout/page') -%>
  <div class="row">
    <div class="col-12">  
      
      <h1 class="text-center">
        Felicidades!
      </h1>
      <h2 class="text-center">
        Acabas de registrarte al sorteo.
      </h2>
    </div>
  </div>
